Django==1.6.5
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.17
celery==3.1.12
distribute==0.6.24
django-celery==3.1.10
django-celery-with-redis==3.0
django-debug-toolbar==1.2.1
django-devserver==0.8.0
django-extensions==1.3.8
django-faker==0.2
django-reversion==1.8.1
django-versioning==0.7.5.0
fake-factory==0.4.0
flower==0.7.0
kombu==3.0.19
psycopg2==2.5.3
pytz==2014.4
redis==2.10.1
six==1.7.3
sqlparse==0.1.11
tornado==3.2.2
wsgiref==0.1.2
django-hstore==1.3.5
django-jsonfield==0.9.13

# may be remove
django-json-dbindex==0.1.0
